body
{
   background: darkblue;
 font-family: 'Poppins',sans-serif;

}

h2
{
  color:slateblue;
  font-size: 25px;
  font-family: sans-serif;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}
h3
{
 font-size:1rem;
}


.navigation
{
 padding-top: 23px;
 float: right;
 gap: 0.5rem;
 padding-right: 0px;
}
.movie {
 width: 200px;

 margin: 1.46rem;
 border-radius: 3px;
 box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);

 
 overflow: hidden;
}


.movie img 
{
   width:100%;
}
.movie{
    width: 200px;
    height: 20%;
    margin: 1.46rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);
    background-color: #373b69;
    position: relative;
    overflow: hidden;
}
.main
{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   background: var(--primarycolor);
}

.movie-info
{
   color: #eee;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem 1rem;
   letter-spacing:0.5px;
}
.movie-info h3{
   margin-top:0;
   font-size: 0.9rem;
}
.over{
 visibility: hidden;
}
.movie-info span
{
   background: var(--primarycolor);
   padding: 0.25rem 0.5rem;
   border-radius:3px;
   font-weight: bold;

}
.movie-info span.green {
   color: lawngreen;

}
.movie-info span.orange {
   color: orange;
   
}
.movie-info span.red {
   color: red;
   
}  
@media screen and (max-width: 40rem) {
 .overview {
   font-size: 1rem;
   font-weight: 300;
 }
 
}
@media (max-width: 575px) {
 .movie{
   width: 150px;
 }
}


.overview{
   overflow: auto;
   scrollbar-arrow-color: #373b69;
   position: absolute;
   left:0;
   width: fit-content;
   right: 0;
   bottom: 0;
   font-size: smaller;
   background-color:antiquewhite;
   padding: 1rem;
   max-height: 100%;
   transform: translateY(101%);
   transition: transform 0.4s ease-in;
}



.movie:hover .overview
{
   transform: translateY(0)
}

